@rapid:registry=https://rapidplatform.pkgs.visualstudio.com/52f4ef44-a873-48c5-9915-fbdc77ca7865/_packaging/rapid-platform/npm/registry/ 
                        
registry=https://registry.npmjs.org/

always-auth=true
